header
  background-color: $primary-color
  nav
    font-family: 'Karla', sans-serif
    margin: 0 auto
    width: $max-width
    text-align: center
    li.menu
      +inline-block
      a
        +inline-block
        +border-color
        border-style: solid
        border-width: 0 0 $nav-border-size-default 0
        color: #fff
        font-weight: bold
        font-size: 18em / $default-size
        padding: (2 * $default-padding) 0
        width: 120em / $default-size
        &:hover
          color: lighten($primary-color, 30%)
        &.active
          color: lighten($primary-color, 30%)
          border-width: 0 0 $nav-border-size-active 0 !important
          padding: (2 * $default-padding) 0 ((2 * $default-padding) - ($nav-border-size-active - $nav-border-size-default)) 0
          line-height: 15.5em / $default-size

    li.home
      +inline-block
      a
        +inline-block
        height: 64em / $default-size
        width: 140em / $default-size
        background: image-url('logo.png') no-repeat
        background-size: 130em / $default-size
        background-position: 0em (25em / $default-size)
        text-indent: 9999em