form
  textarea, input[type=text], input[type=email], input[type=submit]
    outline: none

  label
    color: rgba(#fff, 0.7)
    display: block
    margin-bottom: 8em / $default-size

  .fieldWithErrors
    label
      color: rgba($pomegranate, 0.7)

    textarea, input[type=text], input[type=email]
      border: 1px solid rgba($pomegranate, 0.7)

  textarea, input[type=text], input[type=email]
    +border-radius(8em / $default-size)
    border: 1px solid $silver
    padding: $default-padding
    width: 100%

  input[type=text], input[type=email]
    height: 30em / $default-size

  textarea
    height: 200em / $default-size !important

  .input
    margin-top: 30em / $default-size
    position: relative

  .actions
    margin-top: 20em / $default-size

    input[type=submit][disabled=disabled]
      +opacity(0.3)

    input[type=submit]
      +border-radius(8em / $default-size)
      background: $green_sea
      border: none
      color: #fff
      font-size: 14em / $default-size
      padding: $default-padding 0
      width: 220em / $default-size

    input[type=submit]:not([disabled]):active
      background: darken($green_sea, 10%)