$default-size: 16

$default-padding: 10em / $default-size
$max-width: 960em / $default-size

$footer-default-size: 200em
$footer-size: $footer-default-size / $default-size
$footer-wrapper: $footer-default-size / 1.5
$footer-text-size: 10em

$primary-color: #353B47
$title-color: #D1D1D1
$text-color: #858585
$link-color: #7B90E4