$default-size: 16

$default-padding: 10em / $default-size
$max-width: 960em / $default-size
$footer-size: 120em / $default-size

$prymary-color: #353B47
$title-color: #D1D1D1
$text-color: #858585
$link-color: #7B90E4