@import 'settings/vars'

default-headings-settings()
  font-weight bold
  letter-spacing operate('/', 1, default-size)

h1
  default-headings-settings()
  font-size operate('/', 24, default-size)

h2
  default-headings-settings()
  font-size operate('/', 22em, default-size)

h3
  default-headings-settings()
  font-size operate('/', 20em, default-size)