@import 'nib'
@import 'settings/vars'
// fix

header
  background-color #fff
  nav
    margin 0 auto
    padding operate('*', 2, default-padding)
    width 960px
    li
      display inline-block
      padding default-padding default-padding

  a
    color prymary-color
    font-weight bold
    font-size operate('/', 14, default-size)
    &:hover
      color lighten(#353B47, 30%) //fix
    &.active
      text-decoration underline
