ul.posts
  list-style: none
  margin: 0 auto
  width: $max-width
  li
    +border-color(0.2)
    border-style: solid
    border-width: 0 0 (3em / $default-size) 0
    cursor: pointer
    padding: (7 * $default-padding)  (9 * $default-padding)
    background: #fff
    margin-bottom: 6em / $default-size

    a
      color: $link-color

      h2
        +text-color(14%)
        color: $primary-color
        padding: 0 $default-padding $default-padding 0

      span.badge
        font-size: 14em / $default-size

      p
        color: $text-color
        font-size: 17em / $default-size
        letter-spacing: 1.9em / $default-size
        line-height: 22em / $default-size
        padding: (4 * $default-padding) 0 0 0
        text-align: justify