article.post_show
  background: #fff
  margin: 0 auto
  position: relative
  width: 960em / $default-size

  section
    padding: 0 $default-padding * 5

  section.post_header, section.post_form
    +background(0.7)