ul.posts
  margin: 0 auto
  width: 960px
  li
    cursor pointer
    padding operate('*', 4, default-padding) default-padding
    a
      color title-color
      h3
        padding 0 default-padding default-padding 0


      p
        color text-color
        font-size operate('/', 14, default-size)
        letter-spacing operate('/', 1.7, default-size)
        line-height operate('/', 28, default-size)
        padding operate('*', 2, default-padding) 0 0 0
        text-align justify